extends ../layout/main.pug
include ../mixins/input.pug
include ../mixins/button.pug
include ../mixins/logo.pug

block content
    div(class="flex items-center content-center mx-auto h-screen  max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 border-l-outline-var dark:border-d-outline-var rounded bg-l-neutral-dim dark:bg-d-neutral-dim")
      div(class="mx-auto  max-w-lg border border-l-outline-var dark:border-d-outline-var rounded-md py-7 px-5")
         
        div(class="w-full flex flex-col items-center content-center gap-2")
            +logo() 
            h1(class=" mt-2 text-center text-4xl font-thin text-l-primary dark:text-d-primary") Welcome
            p(class="mx-auto mt-4 max-w-md text-center text-l-body-nd dark:text-d-body-nd") As the initial administrator, you'll need to set up your account to enable you to customize, manage, and optimize the platform to perfectly fit your organization. 
        form(action="/v1/auth/signup" method="POST" class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8")
          input(type="hidden" name="_csrf" value=`${csrfToken}`)
          div(class="flex gap-3") 
            +input("firstName", "First Name", "text", "First Name", "", inputErrors)
            +input("lastName", "Last Name", "text", "Last Name", "", inputErrors)
          +input("email", "Email", "email", "Email", "", inputErrors)
          +input("password", "Password", "password", "Password", "", inputErrors)
          +input("confirm-password", "Confirm Password", "password", "Confirm Password", "", inputErrors)
          div(class="pt-2")
            +containedButton("submit", "Create Account")

    
          p(class="text-center text-sm text-gray-500") No account? #{" "}
            a(class="underline" href="/v1/auth/login") Log in
