extends ../layout/main.pug
include ../mixins/top-nav.pug
include ../mixins/side-bar.pug
include ../mixins/alerts.pug

block content
    div(class="flex")
        +sideBar(user, sideBar, csrfToken)
        div(class="flex flex-col ml-16 flex-grow")
            +topNav(currentRoute, user, csrfToken)
            main(class="flex-grow mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 mt-10 flex flex-col content-start justify-start " id="dashboard")
                h1(class="text-6xl font-thin text-l-text dark:text-d-text w-full") Hi #{user.firstName} 
                p(class="text-p") This is a test! 

     
