mixin containedButton(type, text)
    button(type=`${type}` 
    class="rounded bg-l-primary dark:bg-d-primary text-l-on-primary dark:text-d-on-primary text-center w-full py-2 hover:opacity-75 transition"
    ) #{text}
