include ./icons.pug

mixin menuItemBottom(name)
    span(class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible") #{name}

mixin menuIcon(icon)
    case icon
        when "settingsCog"
            +settingsCog()
        when "homeIcon"
            +homeIcon()
mixin menuItems(items)
    each item in items
        a(
        href=`${item.href}`
        class=`group relative flex justify-center rounded px-2 py-1.5 ${item.active ? "text-l-secondary-600 dark:text-d-secondary-600 bg-l-background-accent dark:bg-d-background-accent" : "text-l-text-accent dark:text-d-text-accent hover:bg-l-background-accent dark:hover:bg-d-background-accent hover:text-l-textdark:hover:text-d-text"}`
        )
            +menuIcon(item.icon)            
            +menuItemBottom(item.name)


