include ./icons.pug

mixin menuItemBottom(name)
    span(class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible") #{name}

mixin menuIcon(icon)
    case icon
        when "settingsCog"
            +settingsCog()
        when "homeIcon"
            +homeIcon()
mixin menuItems(items)
    each item in items
        a(
        href=`${item.href}`
        class=`group relative flex justify-center rounded px-2 py-1.5 ${item.active ? "text-indigo-500 dark:text-indigo-400 bg-white dark:bg-slate-800" : "text-gray-500 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-slate-800 hover:text-gray-700 dark:hover:text-gray-100"}`
        )
            +menuIcon(item.icon)            
            +menuItemBottom(item.name)


