mixin item(name, href, currentRoute) 
    - const isActive = currentRoute === href
    li
        a(class=`${!isActive ? "text-l-text-accent dark:text-d-text-accent hover:text-l-text/10 dark:hover:text-d-secondary-500" : "rounded bg-l-secondary-400 dark:bg-d-secondary-600 p-2 text-d-text dark:text-d-secondary-400"} transition ` href=`${href}`) #{name}

