mixin item(name, href, currentRoute) 
    - const isActive = currentRoute === href
    li
        a(class=`${!isActive ? "text-l-primary dark:text-d-primary hover:text-l-primary/50 dark:hover:text-d-primary/50" : "rounded bg-l-primary dark:bg-d-primary p-2 text-l-on-primary dark:text-d-on-primary"} transition ` href=`${href}`) #{name}


