mixin item(name, href, currentRoute) 
    - const isActive = currentRoute === href
    li
        a(class=`${!isActive ? "text-l-text-a dark:text-d-text-a hover:text-l-p-500 dark:hover:text-d-w-500" : "rounded bg-l-p-bg dark:bg-d-p-bg p-2 text-l-p-500  dark:text-d-p-500"} transition ` href=`${href}`) #{name}

