:root {
  /* --l-primary-500: #4f46e5; */
  /* --l-primary-400: #4338ca; */
  /* --l-primary-300: #3730a3; */
  /* --l-primary-200: #312e81; */
  /* --l-primary-100: #312e81; */
  /**/
  /* --d-primary-500: #818cf8; */
  /* --d-primary-400: #a5b4fc; */
  /* --d-primary-300: #c7d2fe; */
  /* --d-primary-200: #e0e7ff; */
  /* --d-primary-100: #e0e7ff; */
  /**/
  /* --l-neutral-900: ; */
  /* --l-neutral-800: ; */
  /* --l-neutral-700: ; */
  /* --l-neutral-500: #8f8f8f; */
  /* --l-neutral-400: #a7a7a7; */
  /* --l-neutral-300: #bebebe; */
  /* --l-neutral-200: #d6d6d6; */
  /* --l-neutral-100: #eeeeee; */
  /**/
  /* --d-neutral-900: ; */
  /* --d-neutral-800: ; */
  /* --d-neutral-700: ; */
  /* --d-neutral-600: ; */
  /* --d-neutral-500: #1e293b; */
  /* --d-neutral-400: ; */
  /* --d-neutral-300: ; */
  /* --d-neutral-200: ; */
  /* --d-neutral-100: ; */

  --l-p-600: #210900;
  --l-p-500: #403200;
  --l-p-400: #6d5b2b;
  --l-p-bg: #cfb87d;

  --l-s-600: #001d42;
  --l-s-500: #32436d;
  --l-s-400: #5f6e9b;
  --l-s-bg: #bfcdff;

  --l-bg: #eeeeee;
  --l-bg-a: #bcbcbc;
  --l-text: #0f0f0f;
  --l-text-a: #353535;

  --d-p-600: #cbb87d;
  --d-p-500: #ffeaad;
  --d-p-400: #ffffdf;
  --d-p-bg: #6d5b26;

  --d-s-600: #9a93cc;
  --d-s-500: #ccc3ff;
  --d-s-400: #fff6ff;
  --d-s-bg: #001552;

  --d-bg: #232323;
  --d-bg-a: #4b4b4b;
  --d-text: #ffffff;
  --d-text-a: #d7d7d7;
}

/* --l-p-600: #210900; */
/* --l-p-500: #403200; */
/* --l-p-400: #6d5b2b; */
/**/
/* --l-s-600: #001d42; */
/* --l-s-500: #32436d; */
/* --l-s-400: #5f6e9b; */
/**/
/* --l-bg: #eeeeee; */
/* --l-bg-accent: #bcbcbc; */
/* --l-text: #0f0f0f; */
/* --l-text-a: #353535; */
/**/
/* --d-p-600: #cbb87d; */
/* --d-p-500: #ffeaad; */
/* --d-p-400: #ffffdf; */
/**/
/* --d-s-600: #9a93cc; */
/* --d-s-500: #ccc3ff; */
/* --d-s-400: #fff6ff; */
/**/
/* --d-bg: #232323; */
/* --d-bg-accent: #4b4b4b; */
/* --d-text: #ffffff; */
/* --d-text-a: #d7d7d7; */
