:root {
  /* --l-primary-500: #4f46e5; */
  /* --l-primary-400: #4338ca; */
  /* --l-primary-300: #3730a3; */
  /* --l-primary-200: #312e81; */
  /* --l-primary-100: #312e81; */
  /**/
  /* --d-primary-500: #818cf8; */
  /* --d-primary-400: #a5b4fc; */
  /* --d-primary-300: #c7d2fe; */
  /* --d-primary-200: #e0e7ff; */
  /* --d-primary-100: #e0e7ff; */
  /**/
  /* --l-neutral-900: ; */
  /* --l-neutral-800: ; */
  /* --l-neutral-700: ; */
  /* --l-neutral-500: #8f8f8f; */
  /* --l-neutral-400: #a7a7a7; */
  /* --l-neutral-300: #bebebe; */
  /* --l-neutral-200: #d6d6d6; */
  /* --l-neutral-100: #eeeeee; */
  /**/
  /* --d-neutral-900: ; */
  /* --d-neutral-800: ; */
  /* --d-neutral-700: ; */
  /* --d-neutral-600: ; */
  /* --d-neutral-500: #1e293b; */
  /* --d-neutral-400: ; */
  /* --d-neutral-300: ; */
  /* --d-neutral-200: ; */
  /* --d-neutral-100: ; */

  /* --l-p-600: #210900; */
  /* --l-p-500: #403200; */
  /* --l-p-400: #6d5b2b; */
  /* --l-p-bg: #cfb87d; */
  /**/
  /* --l-p-500: 46 1% 0%; */
  /* --l-s-600: #001d42; */
  /* --l-s-500: #32436d; */
  /* --l-s-400: #5f6e9b; */
  /* --l-s-bg: #bfcdff; */
  /**/
  /* --l-bg: 0 0% 93%; */
  /* --l-bg-a: 0 0% 74%; */
  /* --l-text: 0 0% 6%; */
  /* --l-text-a: 0 0% 21%; */
  /* /**/ */
  /* --d-p-600: #cbb87d; */
  /* --d-p-500: #ffeaad; */
  /* --d-p-400: #ffffdf; */
  /* --d-p-bg: #6d5b26; */
  /**/
  /* --d-s-600: #9a93cc; */
  /* --d-s-500: #ccc3ff; */
  /* --d-s-400: #fff6ff; */
  /* --d-s-bg: #001552; */
  /**/
  /* --d-bg: #232323; */
  /* --d-bg-a: #4b4b4b; */
  /* --d-text: #ffffff; */
  /* --d-text-a: #d7d7d7; */

  --l-p-500: 46.875 100% 12.549019607843137% ;
  --l-p-600: 16.363636363636363 100% 6.470588235294119% ;
  --l-p-400: 43.63636363636365 43.421052631578945% 29.80392156862745% ;
  --l-p-bg: 43.170731707317074 46.06741573033709% 65.09803921568627% ;
  --l-s-500: 222.71186440677965 37.10691823899371% 31.176470588235293% ;
  --l-s-600: 213.63636363636363 100% 12.941176470588237% ;
  --l-s-400: 225 23.999999999999996% 49.01960784313725% ;
  --l-s-bg: 226.875 100% 87.45098039215686% ;
  --l-bg: 0 0% 93.33333333333333% ;
  --l-bg-a: 0 0% 73.72549019607844% ;
  --l-text: 0 0% 5.88235294117647% ;
  --l-text-a: 0 0% 20.784313725490197% ;


  --d-p-500: 44.634146341463406 100% 83.92156862745098% ;
  --d-p-600: 45.38461538461539 42.85714285714285% 64.31372549019608% ;
  --d-p-400: 60 100% 93.72549019607843% ;
  --d-p-bg: 44.7887323943662 48.29931972789116% 28.823529411764703% ;
  --d-s-500: 249.00000000000003 100% 88.23529411764706% ;
  --d-s-600: 247.36842105263156 35.8490566037736% 68.82352941176471% ;
  --d-s-400: 300 100% 98.23529411764707% ;
  --d-s-bg: 224.63414634146343 100% 16.07843137254902% ;
  --d-bg: 0 0% 13.725490196078432% ;
  --d-bg-a: 0 0% 29.411764705882355% ;
  --d-text: 0 0% 100% ;
  --d-text-a: 0 0% 84.31372549019608% ;
}

/* --l-p-600: #210900; */
/* --l-p-500: #403200; */
/* --l-p-400: #6d5b2b; */
/**/
/* --l-s-600: #001d42; */
/* --l-s-500: #32436d; */
/* --l-s-400: #5f6e9b; */
/**/
/* --l-bg: #eeeeee; */
/* --l-bg-accent: #bcbcbc; */
/* --l-text: #0f0f0f; */
/* --l-text-a: #353535; */
/**/
/* --d-p-600: #cbb87d; */
/* --d-p-500: #ffeaad; */
/* --d-p-400: #ffffdf; */
/**/
/* --d-s-600: #9a93cc; */
/* --d-s-500: #ccc3ff; */
/* --d-s-400: #fff6ff; */
/**/
/* --d-bg: #232323; */
/* --d-bg-accent: #4b4b4b; */
/* --d-text: #ffffff; */
/* --d-text-a: #d7d7d7; */
