include ../mixins/alerts.pug
doctype html
html(lang="en", class="bg-l-background dark:bg-d-background text-l-text-accent dark:text-d-text-accent antialiased leading-tight" )
    head
        style(type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="csrf-token" content=`${csrfToken}`)
        title #{pageTitle}
        link(rel="stylesheet", href="/styles/output.css")
        link(rel="stylesheet", href="/styles/global.css")
        link(rel="stylesheet" href="https://rsms.me/inter/inter.css")
        script(src="/scripts/htmx.js")
        script(defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js")
        block styles
    body(class="min-h-screen font-family-robotto") 
        block content 
        
        block foot
        #error(x-data="{showError: true}" x-show="showError")

        // +error("Error", "error")
